/*
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
*/

.Navbar-Container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4CE14;
    padding: 1.3rem 2.7rem;
    transition: 0.2s;
}

.active
{
    background-color: #495E57;
    padding: 0.4rem 0.88rem !important;
    color: white !important ;
    border-radius: 0.3em;
    border-bottom: none !important;
}

.site-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.site-title a
{
    text-decoration: none;
    color: #495E57;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

.site-title a:hover
{
    color: #495E57;
}

.site-title i
{
    font-size: 2.3rem;
    color: #495E57;
}

.NavLink-Container ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin: 0;
}

.NavLink-Container ul li
{
    list-style: none;
    color: #45474B;
}

.NavLink-Container ul li a
{
    text-decoration: none;
    color: #495E57;
    font-family: 'Poppins', sans-serif;
    padding: 0.3rem 0.88rem;
    border-radius: 0.05rem;
    transition: 0.15s;
}

.NavLink-Container ul li a:hover
{
    opacity: 0.85;
    border-bottom: 0.2rem solid #495E57;
    border-radius: 0.1rem;
    padding: 0.19rem 0.88rem;
}
