@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

.usersList
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-group
{
    width: 70%;
    margin: auto;
}

.clear
{
    width: 70%;
    margin-left: 10.8rem;
}

.error
{
    width: 70%;
    margin: auto;
}

.navbar-brand
{
    display: flex;
    gap: 1rem;
    margin-left: 3rem;
}